 {% extends "layout/main.html" %}
{% load table_tags %}


{% block content %}



 <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <a href="{% url 'dashboard' %}">
                                    <i class="fa fa-home" aria-hidden="true" style="font-size: 17px;color: gray;"></i>
                                </a> 
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                {{ title }}
                            </li>
                        </ol>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-12">

                          {% render_table payment_table %}
                          
                </div>
            </div>

        </div>
        </div>


{% endblock content %}


